<a class="skippy sr-only sr-only-focusable" href="#content">
  <span class="skippy-text">Skip to main content</span>
</a>
<app-header></app-header>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <app-sidebar-left></app-sidebar-left>
    </div>
    <div class="d-none d-xl-block col-xl-2 bd-toc">
      <app-sidebar-right></app-sidebar-right>
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
      <app-content></app-content>
    </main>
  </div>
</div>